{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome To MyClass</h3>

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Catatan
            </h5>
            Buat Catatan untuk mengingatnya nanti. Catatan akan tersimpan secara permanen sampai dihapus
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Pekerjaan Rumah
            </h5>
            Tambah PR dan berikan tenggat waktu. Mereka akan ditampilkan sesuai tenggat waktu tercepat
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Cari video pembelajaran untuk diputar di youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Tambahkan to-do lists dan hapus setelah selesai
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-3 ">
      <a href="{% url 'books' %}">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Buku
            </h5>
            Cari buku pembelajaran untuk bahan rujukan
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="{% url 'dictionary' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Kamus
            </h5>
            Masukkan kata yang ingin diterjemahkan dan arti kata tersebut akan muncul
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'wiki' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              WikiPedia
            </h5>
            PR dan Tugas? Cari saja di wikipedia untuk mendapatkan hasil yang cepat
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'conversion' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Konversi
            </h5>
            Fitur untuk mempermudah mengkonversi pengukuran kedalam satuan yang lebih kamu kenal
          </div>
        </div>
      </a>
    </div>
  </div>


</section>
{% endblock content %}